.Card{
    width: calc((100% - 60px)/ 3 );
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #95a5a6;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.Icon{
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.CardHeader{
    margin: 0;
    font-weight: 400;
    flex: 1;
}

@media screen and (max-width: 950px){
    .Card{
        width: calc((100% - 40px)/ 2 );
    }
}

@media screen and (max-width: 500px){
    .Card{
        width: calc((100% - 20px));
    }
}