.Card{
    flex-basis: 31%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #95a5a6;
    background-color: white
}

.Icon{
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

@media screen and (max-width: 950px){
    .Card{
        flex-basis: 40%;
    }
}

@media screen and (max-width: 500px){
    .Card{
        flex-basis: 90%;
    }
}